body {
  margin: 0;
  padding: 0;
  background: #e3e3e3;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300;
  color: #3d3d3d;
  font-size: 100%;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  color: #057eff;
  background-color: #f0f0f0; /* Light background color */
}

h1 {
  width: auto;
  position: relative;
  z-index: 2000;
  margin: 20px auto;
  padding: 8px 15px;
  color: #fff;
  /* background: #d3d7e0; */
  border-radius: 6px;
  text-align: center;
  font-size: 1.6em;
  /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.8); */
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
  font-weight: bold;
  pointer-events: none;
}

#map {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}

#map + #manner-dropdown {
  position: absolute;
  bottom: 25px;
  left: 0px;
  z-index: 500;
  background: rgba(255, 255, 255, 0);
  border-radius: 5px;
  box-shadow: 2 2px 6px rgba(0, 0, 0, 0.2);
  padding: 10px;
  font-family: "Libre Franklin", sans-serif;
}

.dropdown-select {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  color: #333;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  width: 100%;
  max-width: 175px;
  text-align: center;
}

.dropdown-select:hover {
  border-color: #007bff;
}

#slider-controls {
  font-family: "Libre Franklin", sans-serif;
  position: absolute;
  font-size: 0.8rem;
  z-index: 650;
  bottom: 35px;
  right: 10px;
  max-width: 125px;
  padding: 8px 20px 8px 10px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 2 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: #3d3d3d;
  text-align: center;
}

#slider-controls .min {
  float: left;
}

#slider-controls .max {
  float: right;
  margin-right: -10px;
}

.time-slider {
  width: 100%;
}

/* Following rules overwrite the Leaflet default popup styles, regardless of browser orientation. */

.leaflet-popup-content {
  width: auto;
  font-family: "Libre Franklin", sans-serif;
}

.leaflet-bar a {
  /* border: 2px solid rgba(244, 244, 244, 0.2); */
  background: rgba(100, 100, 100, 0.9);
  color: rgba(244, 244, 244, 0.8);
}

.leaflet-control-layers-expanded {
  background: rgba(243, 243, 243, 0.9);
  /* color: rgba(244, 244, 244, 0.8); */
  font-size: 14.4px;
  font-weight: bolder;
}

.leaflet-popup-content img {
  width: 100%;
}

.leaflet-popup-content u {
  font-weight: bold;
}

.leaflet-popup-content h2 {
  display: inline;
  font-size: 1.6em;
  font-weight: bold;
  margin: 0;
}

.leaflet-popup-content p {
  font-size: 1.2em;
  margin: 0;
}

.custom-hin-label {
  font-weight: bold;
  font-style: italic;
  color: white;
  /* Create a halo/outline effect using text-shadow */
  text-shadow: 0 0 3px #ff0000;
  /* Optionally center the text */
  text-align: center;
}

.custom-div-icon {
  background: transparent; /* Remove default background if needed */
  border: none;
}

.legend-text {
  text-shadow: 0px 0px 4px rgba(28, 33, 99, 0.4);
  font-weight: bold;
  /* -webkit-text-stroke: 0.4px #444;
  text-stroke: 0.4px #444; */
  color: inherit;
  display: inline-block;
  padding: 2px 6px;
  border-radius: 6px;
  transition: background-color 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}

.legend-text:hover {
  text-shadow: 0px 0px 10px rgba(0, 123, 255, 0.5);
  background-color: rgba(200, 200, 200);
  /* -webkit-text-stroke: 0.4px rgba(0, 0, 0, 0.4);
  text-stroke: 0.4px rgba(0, 0, 0, 0.4); */
}

/* Legend container */
#legend {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
  background: rgba(240, 240, 240, 0.9);
  border-radius: 8px;
  padding: 10px;
  box-shadow: 2 2px 6px rgba(0, 0, 0, 0.2);
  max-width: 300px;
}

/* Legend content is hidden by default */
.leaflet-legend {
  width: auto;
  display: none;
}

/* Show legend content when toggled */
.show-legend {
  display: block;
}

.leaflet-control-layers {
  position: relative;
  background: rgba(240, 240, 240, 0.9);
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.leaflet-control-layers button {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px auto;
  display: block;
  text-align: center;
}

.leaflet-control-layers button:hover {
  background-color: #0059b8;
}

/* RESPONSIVE WEB DESIGN */

@media (max-width: 992px) {
  h1 {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .leaflet-legend {
    display: block; /* Always show legend on larger screens */
  }
}

/* Hide the toggle button on larger screens */
@media screen and (min-width: 768px) {
  .leaflet-control-layers button {
    display: none;
  }
  .leaflet-legend {
    display: block;
  }
}

/* Base styles for toggle buttons */
#toggle-dropdown,
#toggle-slider {
  display: none;
  position: fixed;
  bottom: 40px;
  z-index: 1000;
  padding: 6px 8px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

/* Specific button styles */
#toggle-dropdown {
  left: 10px;
  background-color: #007bff;
  color: white;
}

#toggle-slider {
  right: 10px;
  background-color: #007bff;
  color: white;
}

/* Hover effects */
#toggle-dropdown:hover,
#toggle-slider:hover {
  background-color: #0059b8;
  color: #f0f0f0;
  transform: scale(1.1);
}

/* Show buttons on smaller screens */
@media (max-width: 576px) {
  #toggle-dropdown,
  #toggle-slider {
    display: block;
  }
}

/* Slide-in/out animations */
.slide-in {
  transform: translateX(0);
  transition: transform 0.5s ease;
}

.slide-out {
  transform: translateX(-100%);
  transition: transform 0.5s ease;
}
